{% extends 'base.html.twig' %}

{% block title%}Ajouter un trick de snowboard{% endblock %}

{% form_theme form _self %}

{% block body %}
<div id="background-show">
    <div class="container content-box bg-light p-4 mt-4">
        <h1 class="text-center mb-3 my-4">Ajouter un trick</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="text-center">
            <button type="submit" class="btn btn-success btn-lg">Ajouter le trick !</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

{% block _trick_images_widget %} 
    <p>Ajouter vos images (facultatif)</p>

    {{ form_widget(form) }}

    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-primary">Ajouter une image</button>
    </div>
{% endblock %}

{% block _trick_images_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _trick_images_entry_widget %}
<div class="form-group" id="block_{{id}}">
    <div class="row">
        <div class="col-10">
            <div class="row">
                <div class="col">
                    {{ form_widget(form.file) }}
                </div>
            </div>
        </div>
        <div class="col-2">
            <button type="button" data-action="delete" data-target="#block_{{id}}" class=" btn btn-danger">X</button>
        </div>
    </div>
</div>
{% endblock %}

{% block _trick_videos_widget %} 
    <p>Ajouter vos liens vers des videos (facultatif)</p>

    {{ form_widget(form) }}

    <div class="form-group">
        <button type="button" id="add-video" class="btn btn-primary">Ajouter une video</button>
    </div>
{% endblock %}

{% block _trick_videos_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _trick_videos_entry_widget %}
<div class="form-group" id="block_{{id}}">
    <div class="row">
        <div class="col-10">
            <div class="row">
                <div class="col">
                    {{ form_widget(form.embedHtml) }}
                </div>
            </div>
        </div>
        <div class="col-2">
            <button type="button" data-action="delete" data-target="#block_{{id}}" class=" btn btn-danger">X</button>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    $('#add-image').click(function(){
        const index = $('#trick_images div.form-group').length;

        const tmpl = $('#trick_images').data('prototype').replace(/__name__/g, index);

        $('#trick_images').append(tmpl);

        handleDeleteButtons()
       
    });

        $('#add-video').click(function(){
        const index = $('#trick_videos div.form-group').length;

        const tmpl = $('#trick_videos').data('prototype').replace(/__name__/g, index);

        $('#trick_videos').append(tmpl);

        handleDeleteButtons()
       
    });

    function handleDeleteButtons() {
        $('button[data-action="delete"]').click(function() {
            const target = this.dataset.target;
            $(target).remove();
        })
    }

    handleDeleteButtons();


    $(document).on('change', '.custom-file-input', function () {
    let fileName = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
    $(this).parent('.custom-file').find('.custom-file-label').text(fileName);
    });
</script>
{% endblock %}