{% extends 'base.html.twig' %}

{% block title%}SnowTricks - Modification du trick {{ trick.name }}{% endblock %}

{# Form theme definition in an special template file #}
{% form_theme form 'trick/_collection.html.twig'  %}

{% block body %}

<div id="background-show">
{# block trick content #}
    <div class="container content-box">
        {# Main image #}
        <div id="edit-mainImage">
            <div style="margin: -15px; position: relative; height: 70vh">
                <img src="/uploads/images/{{ imageMain }}" class="d-block w-100 h-100 img-fluid" alt="image de présentation du trick {{ trick.name }}" >
                <div class="icons-edit icons-imageMain">
                    <a id="but-img" href="#list">
                        <img  src="/icons/icons/pencil.svg" width="24px" height="24px" alt="trash_icon" title="Modifier l'image de fond">
                    </a>
                    <a href="#" class="deleting deleteb">
                        <img src="/icons/icons/trash.svg" width="24px" height="24px" alt="pencil_icon">
                    </a>
                </div>
            </div>
        </div>

        <h1 class="my-5 text-center">Modification du trick : {{ trick.name }}</h1>
        <div class="d-flex justify-content-center my-2">
            <button class="btn btn-primary" type="button" id="switch-edit-medias">Modifier les médias</button>
        </div>
        {# Medias display with edition links #}
        <div id="edit-medias">
            <div id="list" class="row my-3">
                {% for img in trick.images %}
                    {# Check if img is already in database #}
                    {% if img.id is not empty %}
                    <div class="col-md-3 mb-2" id="{{ img.id }}img">
                        <img class="image-thumbnail" src="/uploads/images/{{ img.filename }}" alt="Une image d'illustration pour le trick {{ trick.name }}" />
                        <div class="icons-edit icons-vignet">
                            <a href="#">
                                <img src="/icons/icons/pencil.svg" width="22px" height="22px" alt="pencil_icon" title="Modifier l'image">
                            </a>
                            <a id="{{img.id}}" class="js-img-delete deleteb" href="{{ path('image_remove', {'id' : img.id}) }}" data-action="delete" data-target="#block_trick_images_{{ loop.index0 }}"  >
                                <img src="/icons/icons/trash.svg" width="22px" height="22px" alt="trash_icon" title="supprimer l'image">
                            </a>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                {% for video in trick.videos %}
                    <div class="col-md-3 video-import mb-2" id="{{ video.id }}video">
                        <iframe id="video{{ video.id }}" width="100%" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="icons-edit icons-vignet">
                            <a href="#">
                                <img src="/icons/icons/pencil.svg" width="22px" height="22px" alt="pencil_icon" title="Modifier la video">
                            </a>
                            <a id="{{video.id}}" class="js-video-delete deleteb" href="{{ path('video_remove', {'id' : video.id}) }}" data-action="delete" data-target="#block_trick_videos_{{ loop.index0 }}" >
                                <img src="/icons/icons/trash.svg" width="22px" height="22px" alt="trash_icon" title="supprimer la video">
                            </a>
                        </div>
                    </div>
                    {# script to convert link to correct video iframe #}
                    <script>
                        var regExp = /^.*(youtu\.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
                        var url = "{{ video.url }}";
                        var match = url.match(regExp);
                        if (match && match[2].length == 11) 
                        {
                            var id = match[2];
                            var embedlink = "https://www.youtube.com/embed/" + id;
                            var iframe = document.getElementById("video{{ video.id }}");
                            iframe.src = embedlink;
                        }
                    </script>
                {% endfor %}
            </div>
            <div class="row text-center mt-4" style="font-size: 0.8em">
                <div class="col">Créé le : {{ trick.createdAt | date('d/m/Y à H:i') }}</div>
                <div class="col">Catégorie : {{ trick.category.name }}</div>
                {% if trick.modifiedAt %}
                <div class="col">Modifié le : {{ trick.modifiedAt | date('d/m/Y à H:i') }}</div>
                {% endif %}
            </div>
 
            <hr>

         {# Medias modification forms #}
            <div id="edit-form" class="my-5 mx-4 my-3">
                <div id="media-form">
                    <h3 class="mb-4">Modifier les médias</h3>
                    {{ form_start(form) }}
                    {{ form_row(form.imageMainFile, {'required': false}) }}
                    <div class="row bg-light ">
                        <div class="col-md-6">
                            {{ form_row(form.images) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.videos) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

       {# Text modification inputs #}
        <div id="text-form" class="mx-4">
            <h3 class="mt-5" >Modifier les textes</h3>
            <div class="row mt-4 py-3">
                <div class="col-md-8 col-sm-12 bg-light">
                    <div class="row">
                        <div class="col-12">
                            {{ form_row(form.description) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            {{ form_row(form.category) }}
                        </div>
                    </div>
                    <div style="display: none">
                        {{ form_row(form.name) }}
                    </div>
                </div>
            </div>
        </div>

        {# Submit and reset inputs #}
        <div class="text-right my-5">
            <button type="submit" class="btn btn-success">Modifier le trick !</button>
            <a href="{{ path('trick_delete', {'slug' : trick.slug}) }}" type="button" class="btn btn-danger js-trick-delete ml-4">Supprimer le trick !</a>
        </div>
        {{ form_end(form) }}
    </div>
</div>

{# Arrow navigation to top #}
<a class="arrow-nav" href="#" id="to-top">
    <img src="/icons/icons/chevron-up.svg" alt="" width="48px" height="48px">
</a>
{% endblock %}

{% block javascripts %}
{# Axios library and Ajax request file to dynamicaly delete thumbnail #}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/delete_medias.js"></script>
{# Javascripts of the form in the trick.js file #}
<script src="/js/trick.js"></script>

<script>
    {# shortcut to edit imageMain  #}
    $('#but-img').click(function() {
        $('#trick_imageMainFile').click();
    });

    {# Confirmation suppression dialog box#}
    $("a.js-trick-delete").click(function(e) {
        e.preventDefault();
        if (confirm("Confirmez vous la suppression du trick ?")) {
            location.href = $(this).attr("href");
        }
    });
    {# Toggle medias block in mobile version #}
    $("#switch-edit-medias").click(function() {
        $("#edit-medias").toggle();
    });
</script>
{% endblock %}