{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Homepage - Snowboard tricks list{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-home text-center vertical-center d-flex align-items-center justify-content-center" >
    <div>
        <h1 class="display-3 ">SnowTricks !</h1>
        <p class="lead light" style="color: white">Le site de référence sur les tricks de snowboard.</p>
    </div>
</div>

<div class="container">
    <h1>Liste des tricks !</h1>
    <p>Il y a actuellement {{ tricks | length}} tricks dans la base de données!</p>
    

    {% for trick in tricks %}
        {% if loop.first %}
        <div class="row">
        {% endif %}
            <div class="col-lg-2">
                    <div class="card bg-light mb-3">
                        <a href="{{ path('trick_show' , {'slug': trick.slug}) }}">
                            {# <img src="/uploads/images/{{ trick.imageMain }}" alt="Image du trick {{ trick.name }}" style="height: 150px; width: 100%; display: block"> #}
                               <img src="{{ trick.imageMain }}" alt="Image du trick {{ trick.name }}" style="height: 150px; width: 100%; display: block">
                        </a>
                        <div class="card-body">
                            <div class="row">
                                <a href="{{ path('trick_show' , {'slug': trick.slug}) }}">
                                    <h5 class="card-title">{{ trick.name }}</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
        {% if loop.index is divisible by (5) %}
        </div>
        <div class="row">
        {% endif %}
    {% endfor %}
{# 
    <div class="row">
        {% for trick in tricks %}
        <div class="col-lg-3 col-sm-4 col-xs-6 ">
            <div class="card bg-light mb-3">
                <a href="{{ path('trick_show' , {'slug': trick.slug}) }}">
                    <img src="{{ trick.imageMain }}" alt="Image du trick {{ trick.name }}" style="height: 200px; width: 100%; display: block">
                </a>
                <div class="card-body">
                    <div class="row">
                        <a href="{{ path('trick_show' , {'slug': trick.slug}) }}">
                            <h5 class="card-title">{{ trick.name }}</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div> #}
</div>
</div>
{% endblock %}
