{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Homepage - Snowboard tricks list{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-home text-center vertical-center d-flex align-items-center justify-content-center" >
    <div>
        <h1 class="display-3 ">SnowTricks !</h1>
        <p class="lead light">
            <a href="#list" >Le site de référence sur les tricks de snowboard.</a>
        </p>
        {% for label, messages in app.flashes %}
        <div class="flash-message alert alert-{{ label }}">
            {% for message in messages %}
            <p class="my-0">{{ message }}</p>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>


<div class="container">
 
    <h1 id="list">Liste des tricks !</h1>
    <p class="my-4">Il y a actuellement {{ tricks | length}} tricks dans la base de données!</p>
    
    <div class="row">
        {% for trick in tricks | slice(0,12) %}
        <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card bg-light mb-3">
                <a href="{{ path('trick_show' , {'slug': trick.slug}) }}">
                    <img src="/uploads/images/{{ trick.imageMain }}" alt="Image du trick {{ trick.name }}" style="height: 200px; width: 100%; display: block">
                </a>
                <div class="card-body">
                    <div class="row">
                        <div class="col-7">
                        <a href="{{ path('trick_show' , {'slug': trick.slug}) }}">
                            <h2 class="h6 card-title">{{ trick.name }}</h5>
                        </a>
                        </div>
                        {% if app.user %}
                        <div class="col-5">
                            <div class="icons-style icons-edit" style="display: inline-block">
                                <a href="{{ path('trick_edit', {'slug': trick.slug}) }}">
                                    <img src="/icons/icons/pencil.svg" width="24px" height="24px" alt="icone de modification" title="Modifier le trick">
                                </a>
                                <a href="{{ path('trick_delete', {'slug': trick.slug}) }}">
                                    <img src="/icons/icons/trash.svg" width="24px" height="24px" alt="icone de suppression" title="Supprimer le trick" onclick="confirm(\'Valider votre choix?\')">
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if tricks | length > 12 %}
    <div class="d-flex justify-content-center my-4">
        <a class="btn btn-light" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Afficher plus de tricks !
        </a>
    </div>

    <div class="collapse" id="collapseExample">
        <div class="row">
            {% for trick in tricks | slice(12, tricks | length) %}
            <div class="col-lg-3">
                <div class="card bg-light mb-3">
                    <a href="{{ path('trick_show' , {'slug': trick.slug}) }}">
                        <img src="{{ trick.imageMain }}" alt="Image du trick {{ trick.name }}" style="height: 150px; width: 100%; display: block">
                    </a>
                    <div class="card-body">
                        <div class="row">
                            <a href="{{ path('trick_show' , {'slug': trick.slug}) }}">
                                <h5 class="card-title">{{ trick.name }}</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %} 
</div>

{% endblock %}

{% block javascripts %}
<script>
		jQuery('.to-top').click(function(event) {
			event.preventDefault();
			jQuery('html').animate({scrollTop: 0}, duration);
			return false;
		})
</script>
{% endblock %}
