{% for comment in trick.comments | slice(start, 10) %}
    <div class="row justify-content-md-center">
        <div class="media col-md-8">
            <img src="/uploads/images/{{ comment.user.avatar }}" class="align-self-center mr-3" alt="Avatar de {{ comment.user.loginName }}" style="width: 64px; height: 64px; border-radius: 50%">
            <div class="media-body border p-2 my-2">
                <em class="mt-0"><strong>{{ comment.user.fullName }}</strong> le {{ comment.createdAt | date('d/m/Y à H:i') }} :</em>
                <blockquote>{{ comment.content }}</blockquote>
            </div>
        </div>
    </div>
{% endfor %}