{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
<div id="background-show">
    <div class="container content-box">
        <div id="cadre">
            <div class="jumbotron jumbotron-show text-center d-flex align-items-center justify-content-center" style="background-image: url('../uploads/images/{{ trick.imageMain }}')">
                <h1 class="text-center">{{ trick.name }}</h1>
            </div>

            <div class="row my-4">
                {% for img in trick.images %}
                    <div class="col-md-3 mb-2">
                        <img src="/uploads/images/{{ img.filename }}" alt="" style="height: 200px; width: 100%; display: block; box-shadow: 5px 5px 5px grey;" />
                    </div>
                {% endfor %}
                {% for video in trick.videos %}
                    <div class="col-md-3 video-import mb-2">
                        {{ video.url | raw }}
                    </div>
                {% endfor %}
            </div>

            <h2> Description</h2>
            
            <p>{{ trick.description }}</p>
            
            <div class="row text-center">
                <div class="col"><strong>Créé le : {{ trick.createdAt | date('d/m/Y à H:i') }}</strong></div>
                <div class="col"><strong>Catégorie : {{ trick.category.name }}</strong></div>
                {% if trick.modifiedAt %}
                <div class="col"><strong>Modifié le : {{ trick.modifiedAt | date('d/m/Y à H:i' )}}</strong></div>
                {% endif %}
            </div>
        </div>

        {% if app.user %}
        <hr class="my-5">
        <div class="comment-form bg-light py-3 px-3">
            {{ form_start(form)}}
            {{ form_widget(form)}}
            <button type="submit" class="btn btn-primary">Poster le commentaire !</button>
            {{ form_end(form)}}
        </div>
        {% endif %}

        <hr class="my-5">

        {# Affichage des commentaires : #}
        {% if trick.comments | length > 0 %}
            <div class="comments-list">
                <h3>Les commentaires :</h3>
                {% for comment in trick.comments | slice(0, 10) %}
                <div class="row justify-content-md-center">
                    <div class="media col-md-8">
                        <img src="{{ comment.user.avatar }}" class="align-self-center mr-3" alt="..." style="width: 64px; height: 64px; border-radius: 50%">
                        <div class="media-body border p-2 my-2">
                            <em class="mt-0"><strong>{{ comment.user.fullName }}</strong> le {{ comment.createdAt | date('d/m/Y à H:i') }} :</em>
                            <blockquote>{{ comment.content }}</blockquote>
                        </div>
                    </div>
                </div>
                {% endfor %}
              
                {% if trick.comments | length > 10 %}
                <div class="d-flex justify-content-center my-2">
                    <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseComments" aria-expanded="false" aria-controls="collapseComments">
                        Afficher plus de commentaires!
                    </button>
                </div>

                <div class="collapse" id="collapseComments">
                    {% for comment in trick.comments | slice(10, trick.comments | length) %}
                    <div class="row justify-content-md-center">
                        <div class="media col-md-8">
                            <img src="{{ comment.user.avatar }}" class="align-self-center mr-3" alt="..." style="width: 64px; height: 64px; border-radius: 50%">
                            <div class="media-body border p-2 my-2">
                                <em class="mt-0"><strong>{{ comment.user.fullName }}</strong> le {{ comment.createdAt | date('d/m/Y à H:i') }} :</em>
                                <blockquote>{{ comment.content }}</blockquote>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        {% else %}
            <p class="h5"><em>Pas encore de commentaire !</em></p>
        {% endif %}
    </div>
</div>
{% endblock %}
{# <div id="fond">
    <div class="container">
        <div class="mx-auto" style="width: 90%">
            <img src="/images/snow-default.jpg" class="card-img-top" alt="..." style="width: 100%; height: 600px">
            <div class="">
                <h4>Description</h4>
                <h5>{{ trick.name }}</h5>
                <p>{{ trick.description | raw }}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>
</div>
{% endblock %} #}