{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
<div id="background-show">
    <div class="container cont*ent-box">
        <div id="cadre">
            <div id="carouselShow" class="carousel slide carousel-fade" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="carousel-item text-center active">
                        <img src="/uploads/images/{{ trick.imageMain }}" class="d-block w-100 h-80 img-fluid" alt="..." >
                        <div class="icons-edit icons-imageMain">
                            <a href="{{ path('trick_edit', {'slug': trick.slug}) }}">
                                <img  src="/icons/icons/pencil.svg" width="24px" height="24px" alt="icone de modification" title="Modifier le trick">
                            </a>
                            <a href="{{ path('trick_delete', {'slug': trick.slug}) }}">
                                <img src="/icons/icons/trash.svg" width="24px" height="24px" alt="icone de suppression" title="Supprimer le trick" onclick="confirm(\'Valider votre choix?\')">
                            </a>
                        </div>
                    </div>
                    {% for img in trick.images %}
                    <div class="carousel-item">
                        <img src="/uploads/images/{{ img.filename }}" class="d-block w-100 h-100 img-fluid" alt="..." >
                        <div class="icons-edit icons-imageMain">
                            <a href="{{ path('trick_edit', {'slug': trick.slug}) }}" >
                                <img src="/icons/icons/pencil.svg" width="24px" height="24px" alt="icone de modification" title="Modifier le trick">
                            </a>
                            <a href="{{ path('trick_delete', {'slug': trick.slug}) }}">
                                <img src="/icons/icons/trash.svg" width="24px" height="24px" alt="icone de suppression" title="Supprimer le trick" onclick="confirm(\'Valider votre choix?\')">
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                    {% for video in trick.videos %}
                        <div class="carousel-item">
                            {{ video.embedHtml | raw }}
                            <div class="icons-edit icons-imageMain">
                                <a href="{{ path('trick_edit', {'slug': trick.slug}) }}">
                                    <img  src="/icons/icons/pencil.svg" width="24px" height="24px" alt="icone de modification" title="Modifier le trick">
                                </a>
                                <a href="{{ path('trick_delete', {'slug': trick.slug}) }}">
                                    <img src="/icons/icons/trash.svg" width="24px" height="24px" alt="icone de suppression" title="Supprimer le trick" onclick="confirm(\'Valider votre choix?\')">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    <a class="carousel-control-prev my-5" href="#carouselShow" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next my-5" href="#carouselShow" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <h1 class="my-5 text-center">{{ trick.name }}</h1>
            <div class="row my-3">
                {% for img in trick.images %}
                    <div class="col-md-3 mb-2">
                        <img src="/uploads/images/{{ img.filename }}" alt="" style="height: 200px; width: 100%; display: block; box-shadow: 5px 5px 5px grey;" />
                    </div>
                {% endfor %}
                {% for video in trick.videos %}
                    <div class="col-md-3 video-import mb-2">
                        {{ video.embedHtml | raw }}
                    </div>
                {% endfor %}
            </div>

            <h3 class="my-4"> Description</h3>
            
            <p>{{ trick.description }}</p>
            
            <div class="row text-center mt-4" style="font-size: 0.8em">
                <div class="col">Créé le : {{ trick.createdAt | date('d/m/Y à H:i') }}</div>
                <div class="col">Catégorie : {{ trick.category.name }}</div>
                {% if trick.modifiedAt %}
                <div class="col">Modifié le : {{ trick.modifiedAt | date('d/m/Y à H:i' )}}</div>
                {% endif %}
            </div>
        </div>

        {% if app.user %}
        <hr class="my-5">
        <div class="comment-form bg-light py-3 px-3">
            {{ form_start(form)}}
            {{ form_widget(form)}}
            <button type="submit" class="btn btn-primary">Poster le commentaire !</button>
            {{ form_end(form)}}
        </div>
        {% endif %}

        <hr class="my-5">

        {# Affichage des commentaires : #}
        {% if trick.comments | length > 0 %}
            <div class="comments-list my-4">
                <h3 class="my-4">Les commentaires :</h3>
                {% for comment in trick.comments | slice(0, 3) %}
                <div class="row justify-content-md-center">
                    <div class="media col-md-8">
                        <img src="/uploads/images/{{ comment.user.avatar }}" class="align-self-center mr-3" alt="..." style="width: 64px; height: 64px; border-radius: 50%">
                        <div class="media-body border p-2 my-2">
                            <em class="mt-0"><strong>{{ comment.user.fullName }}</strong> le {{ comment.createdAt | date('d/m/Y à H:i') }} :</em>
                            <blockquote>{{ comment.content }}</blockquote>
                        </div>
                    </div>
                </div>
                {% endfor %}
              
                {% if trick.comments | length > 3 %}
                <div class="d-flex justify-content-center my-2">
                    <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseComments" aria-expanded="false" aria-controls="collapseComments">
                        Afficher plus de commentaires!
                    </button>
                </div>

                <div class="collapse" id="collapseComments">
                    {% for comment in trick.comments | slice(3, trick.comments | length) %}
                    <div class="row justify-content-md-center">
                        <div class="media col-md-8">
                            <img src="{{ comment.user.avatar }}" class="align-self-center mr-3" alt="..." style="width: 64px; height: 64px; border-radius: 50%">
                            <div class="media-body border p-2 my-2">
                                <em class="mt-0"><strong>{{ comment.user.fullName }}</strong> le {{ comment.createdAt | date('d/m/Y à H:i') }} :</em>
                                <blockquote>{{ comment.content }}</blockquote>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        {% else %}
            <p class="h5"><em>Pas encore de commentaire !</em></p>
        {% endif %}
    </div>
</div>
{% endblock %}

